:root {
    --color1: #f23558 ;
    --color2: #f24b78;
    --color3: #4aa2d9;
    --color4: #f2f2f2;
    --color5: #0d0d0d;
    --color6: #252a34;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: var(--color3);
    margin: 0px;
    display: flex;
    flex-direction: row;
    max-height: 100vh;
}

a:visited {
    text-decoration: none;
}

.painel-lateral {
    width: 15vw;
    min-width: 250px;
    background-color: var(--color5);
    margin: 0px;
    font-size: 12pt;
    height: 100vh;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.cartao-usuario {
    text-align: center;
    max-height: 370px;
    color: var(--color4);
    font-size: 12pt;
}

.cartao-usuario p {
    margin: 5px;
}

.cartao-usuario img {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.menuslaterais {
    list-style-type: none;
    text-align: center;
}

ul.menuslaterais {
    list-style: none;
    padding: 0px;
}

ul.menuslaterais li {
    padding: 10px 0;
    background-color: var(--color6);
    width: 100%;
}

ul.menuslaterais li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color4);
    width: 100%;
    padding-left: 0;
}

ul.menuslaterais li:hover {
    background-color: var(--color1);
    cursor: pointer;
}   

.rodape-painel-lateral {
    height: 100%;
}

.conteudo {
    width: 85vw;
    height: 100vh;
}

.menulogo {
    padding: 5px;
}