@import url("painel.css");

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.relatorio {
    width: 590px;
    height: auto;
    max-height: 550px;
    background-color: var(--color6);
    border-radius: 0 0 10px 10px;
}

.nav_tabs {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: auto;
    background-color: var(--color3);
}

.tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.tabs a {
    padding: 10px;
    margin: 0.5px;
    margin-bottom: 0px;
    background-color: var(--color4);
    border: groove;
    border-color: var(--color6);
    border-bottom-style: hidden;
    border-width: 3px;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: var(--color6);
    flex-shrink: 0;
    flex-basis: 170px;
    width: 170px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: auto;
    width: 590px;
    font-size: 12pt;
    border-radius: 0 0px 10px 10px;
    background-color: var(--color6);
    color: var(--color4);
}

#content1 {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 350px;
    height: auto;
}

.conteudo p {
    margin: 0px 0 10px 15px;
    padding-top: 15px;
    font-weight: bold;
}

#content1 input {
    font-size: 14pt;
    margin: 0 0 10px 15px;
    width: 200px;
}

#content1 button {
    font-size: 14pt;
    margin-left: 5px;
    border-radius: 5px;
}

#content {
    width: 590px;
}
table {
    padding-top: 5px;
    margin: 0 15px 15px 15px;
    border-width: medium;
}

table td {
    border-style: outset;
    padding: 5px;
}

table tr{
    height: 30px;
}
.titulolinha {
    font-weight: bold;
}

.titulocoluna {
    font-weight: bold;
}

#content2 {
    display: none;
}

#content3 {
    display: none;
}

#aba1 {
    background-color: var(--color1);
    margin-left: 0;
}

#geral-col1 {
    width: 180px;
}

#geral-col2 {
    width: 100px;
}

#item-col1 {
    width: 80px;
    text-align: center;
}

#item-col2 {
    width: 390px;
}

#item-col3 {
    width: 100px;
    text-align: center;
}

#filme-col1 {
    width: 80px;
    text-align: center;
}

#filme-col2 {
    width: 390px;
}

#filme-col3 {
    width: 100px;
    text-align: center;
}